* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: white;
  transition: background-image 1s ease-in-out;
}

h1 {
  display: block;
  width: 100%;
}

.wrapper {
  min-width: 320px;
  width: 30rem;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.joke-wrapper {
  margin-top: 5rem;
}

#joke {
  line-height: 150%;
  padding: 1rem 1rem;

  cursor: pointer;
}

#joke:hover {
  background-color: rgba(0, 0, 0, .7);
}

#time {
  font-size: 8rem;
}

#date {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#greeting {
  width: 50%;
}

#name,
#focus {
  display: inline-block;
  min-width: 100px;

  cursor: pointer;
}

#background-btn {
  padding: .4rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 500;

  background-color: transparent;
  color: inherit;
  border: none;

  cursor: pointer;
  transition: background-color .3s, background-image 1s;
}

#background-btn:hover {
  background-color: rgba(0, 0, 0, .7);
}

#background-btn:disabled {
  background-image: linear-gradient(
    to right,
    #ffe577,
    #ffe577 25%,
    #fec051 25%,
    #fec051 50%,
    #fd6051 50%,
    #fd6051 75%,
    #392033 75%,
    #392033 100%
  );
  animation: slidebg 1s linear infinite;
}
@keyframes slidebg {
  to {
    background-position: 15vw;
  }
}
@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}
h1 {
  margin-bottom: 3rem;
}
h2 {
  margin-bottom: 0.5rem;
}
.weather-wrapper {
  margin-top: 5rem;
  width: 6rem;
}
#city {
  padding-bottom: 1rem;
}
#city,
.temperature,
.weather-description {
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
}
.weather-icon {
  font-size: 4rem;
}

