* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

body {
  background-size: cover;
  background-position: center center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  color: white;
  transition: background-image 1s ease-in-out;
}

@media (max-width: 700px) {
  body {
    justify-content: center;
  }
}

h1 {
  display: block;
  width: 100%;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-wrapper {
  min-width: 320px;
  width: 45vw;
  padding: 0 1.4rem;
}

@media (max-width: 700px) {
  .main-wrapper {
    width: 100%;
  }
}

.joke-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 320px;
  width: 45vw;
  height: 40rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .joke-wrapper {
    width: 100%;
    margin-bottom: 0;
  }
}

.weather-wrapper {
  align-self: flex-end;
  align-items: flex-end;
  justify-self: start;
  padding: 0 4rem;
  margin-top: 3rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .weather-wrapper {
    min-width: 32rem;
    width: 100%;
    align-self: center;
    align-items: center;
    margin-bottom: 0rem;
  }
}
.weather-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper-contrast {
  position: absolute;
  top: 0;
  padding: .5rem 1rem;
}

.wrapper-contrast label {
  margin-bottom: .3rem;
  font-size: 1.6rem;
}

#joke {
  width: 100%;
  height: 80%;
  line-height: 150%;
  padding: 1rem 1rem;
  font-size: 2rem;
}

#joke-btn {
  padding: .4rem 1rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;

  background-color: transparent;
  color: inherit;
  border: none;

  cursor: pointer;
}

#joke-btn:hover {
  background-color: rgba(0, 0, 0, .7);
}

#joke-btn:active {
  background-color: black;
}

#time {
  font-size: 8rem;
  font-weight: 500;
}

#date {
  margin-bottom: 1rem;
  font-size: 3rem;
}

#greeting {
  width: 50%;
}

#name,
#focus {
  display: inline-block;
  min-width: 100px;

  cursor: pointer;
}

#background-btn {
  padding: .4rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;

  background-color: transparent;
  color: inherit;
  border: none;

  cursor: pointer;
  transition: background-color .3s, background-image 1s;
}

#background-btn:hover {
  background-color: rgba(0, 0, 0, .7);
}

#background-btn:disabled {
  background-image: linear-gradient(
    to right,
    #ffe577,
    #ffe577 25%,
    #fec051 25%,
    #fec051 50%,
    #fd6051 50%,
    #fd6051 75%,
    #392033 75%,
    #392033 100%
  );
  animation: slidebg 1s linear infinite;
}
@keyframes slidebg {
  to {
    background-position: 15vw;
  }
}
@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}
h1 {
  margin-bottom: 3rem;
}
h2 {
  margin-bottom: 0.5rem;
}
.temperature {
  padding-left: 1rem;
  font-size: 3rem;
  font-family: inherit;
}
#city {
  min-width: 10rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.weather-icon {
  font-size: 5rem;
}
.weather-params {
  font-size: 1.8rem;
}
.error {
  display: block;
  height: 3rem;
  min-width: 3rem;
}
.contrast-0 {
  background-color: rgba(0, 0, 0, .0);
}
.contrast-10 {
  background-color: rgba(0, 0, 0, .1);
}
.contrast-20 {
  background-color: rgba(0, 0, 0, .2);
}

.contrast-30 {
  background-color: rgba(0, 0, 0, .3);
}
.contrast-40 {
  background-color: rgba(0, 0, 0, .4);
}
.contrast-50 {
  background-color: rgba(0, 0, 0, .5);
}
.contrast-60 {
  background-color: rgba(0, 0, 0, .6);
}
.contrast-70 {
  background-color: rgba(0, 0, 0, .7);
}
.contrast-80 {
  background-color: rgba(0, 0, 0, .8);
}
.contrast-90 {
  background-color: rgba(0, 0, 0, .9);
}
.contrast-100 {
  background-color: rgba(0, 0, 0, 1);
}
